{% extends 'postkon_webapp/base.html' %}
{% block title %}
    {{ user.username }}
{% endblock title %}
{% block content %}
    {% if user.avatar_img %}<img src="{{ user.avatar_img }}" alt="Аватарка">{% endif %}
    <h3>{{ user.username }}</h3>
    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
    {% if user.status %}
        <p>
            <i> {{ user.status }} </i>
        </p>
    {% else %}
        <p>
            <i> Статус не установлен </i>
        </p>
    {% endif %}
    <hr>
    <ul>
        {% for post in posts reversed %}
            <li>
                <h4>{{ user.username }}</h4>
                <p>
                    <i> {{ post.date_uploaded }} </i>
                </p>
                <p>
                    {{ post.text }}
                </p>
                {% if post.img %}<img src="{{ post.img }}" alt="Прикрепленое фото">{% endif %}
                {% if post.video %}<img src="{{ post.video }}" alt="Прикрепленое видео">{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
